button{
    background-color: #09f;
    color: #fff;
    border: 0;
    padding: 4px 8px;
    font-size: 18px;
    cursor: pointer;
}
body{
    background-color: #222;
}





/*img{
    box-shadow: 0 0 15px #999;
    border-radius: 50%;
    width: 100px;
}

img.disabled{
    opacity: 0.3;
}

picture{
    display: flex;
    flex-direction: column ;
    text-align: center;
    width: 100px;
}*/